[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_path = collections
vault_password_file = .vault-pass
host_key_checking = False
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
